@import "tailwindcss";


:root {
  /* Memastikan scaling font standar */
  font-size: 13px; 
}

body {
  @apply leading-relaxed;
}

/* Mengatur agar gambar dan elemen video tidak overflow */
img, video {
  max-width: 100%;
  height: auto;
}